* { box-sizing: border-box; }

:root {
	/* Code Scheme */
	--code1: #6eeb83;
	--code2: #9adf5e;
	--code3: #bdd140;
	--code4: #dcc12d;
	--code5: #f6ae2d;
	--codeGradient: linear-gradient(to right, var(--code1), var(--code2), var(--code3), var(--code4), var(--code5));
	/* Graphics Scheme */
	--graphics1: #9b143d;
	--graphics2: #be3d36;
	--graphics3: #d8682b;
	--graphics4: #e6951d;
	--graphics5: #e7c41f;
	--graphicsGradient: linear-gradient(to right, var(--graphics1), var(--graphics2), var(--graphics3), var(--graphics4), var(--graphics5));
	/* Main */
	--midnight: #29293a;
	--mist: #ececef;
	--evening: #3a3a54;
	--twilight: #54547a;
	--daybreak: #f6f6f8;
}

html {
	background-color: var(--midnight);
	font-size: 80%;
}
@media screen and (min-width: 399px) {
	html { font-size: 90%; }
}
@media screen and (min-width: 499px) {
	html { font-size: 95%; }
}
@media screen and (min-width: 770px) {
	html { font-size: 80%; }
}
@media screen and (min-width: 1050px) {
	html { font-size: 100%; }
}
html,
body {
	/*color: #000;*/
	font-family: fira-code, monospace;
	/*font-size: 100%;*/
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
body {
	background-color: transparent;
}
body.castingAccio {
	overflow: hidden;
}

a,
a:visited {
	color: inherit;
	cursor: pointer;
	opacity: 1;
	text-decoration: none;
}
a:hover {
	color: inherit;
	opacity: .9 !important;
}

hr {
	height: 1px;
	width: 100%;
}

#mighty .leftArc,
#mighty .rightArc { fill: #FFF; }
#mighty .bridge { fill: rgba(255,255,255,.2); }

.mod-code #mighty .leftArc { fill: var(--code1); }
.mod-code #mighty .rightArc { fill: var(--code5); }
.mod-code #mighty .bridge { fill: var(--code3); }
.mod-graphics #mighty .leftArc { fill: var(--graphics1); }
.mod-graphics #mighty .rightArc { fill: var(--graphics5); }
.mod-graphics #mighty .bridge { fill: var(--graphics3); }


/* ----  Type  ---- */
@font-face {
	font-family: fira-code;
	font-weight: 300;
	src: url(../fonts/FiraCode-Light.otf);
}
@font-face {
	font-family: fira-code;
	font-weight: 400;
	src: url(../fonts/FiraCode-Regular.otf);
}
@font-face {
	font-family: fira-code;
	font-weight: 500;
	src: url(../fonts/FiraCode-Medium.otf);
}
@font-face {
	font-family: fira-code;
	font-weight: 700;
	src: url(../fonts/FiraCode-Bold.otf);
}

.has-text-fira-code {
	font-family: fira-code, monospace;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: font-awesome;
	font-weight: 300;
	src: url(../fonts/FontAwesome-Light.otf);
}
@font-face {
	font-family: font-awesome;
	font-weight: 400;
	src: url(../fonts/FontAwesome-Regular.otf);
}
@font-face {
	font-family: font-awesome;
	font-weight: 700;
	src: url(../fonts/FontAwesome-Solid.otf);
}

@font-face {
	font-family: font-awesome-brands;
	font-weight: 400;
	src: url(../fonts/FontAwesome-Brands.otf);
}

.has-text-font-awesome {
	font-family: font-awesome;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
}

.has-text-font-awesome-brands {
	font-family: font-awesome-brands;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
}

.has-text-weight-light { font-weight: 300; }
.has-text-weight-regular { font-weight: 400; }
.has-text-weight-medium { font-weight: 500; }
.has-text-weight-bold { font-weight: 700; }

.is-size-0 {
	font-size: 3rem;
	line-height: 1.25;
	margin: 0 0 3rem 0;
}
.is-size-1 {
	font-size: 2.25rem;
	line-height: 1.25;
	margin: 0 0 2.25rem 0;
}
.is-size-2 {
	font-size: 2rem;
	line-height: 1.25;
	margin: 0 0 2rem 0;
}
.is-size-3 {
	font-size: 1.75rem;
	line-height: 1.25;
	margin: 0 0 1.75rem 0;
}
.is-size-4 {
	font-size: 1.5rem;
	line-height: 1.25;
	margin: 0 0 1.5rem 0;
}
.is-size-5 {
	font-size: 1.25rem;
	line-height: 1.25;
	margin: 0 0 1.25rem 0;
}
.is-size-6 {
	font-size: 1rem;
	line-height: 1.25;
	margin: 0 0 1rem 0;
}
.is-size-7 {
	font-size: .85rem;
	line-height: 1.25;
	margin: 0 0 .85rem 0;
}
.is-size-8 {
	font-size: .65rem;
	line-height: 1.25;
	margin: 0 0 .65rem 0;
}

.is-uppercase { text-transform: uppercase; }

.has-text-left { text-align: left; }
.has-text-centered { text-align: center; }
.has-text-right { text-align: right; }

.has-text-white { color: #FFF !important; }
.has-text-black { color: #000 !important; }
.has-text-code1,
.mod-code .has-text-mod1 { color: var(--code1) !important; }
.has-text-code2,
.mod-code .has-text-mod2 { color: var(--code2) !important; }
.has-text-code3,
.mod-code .has-text-mod3 { color: var(--code3) !important; }
.has-text-code4,
.mod-code .has-text-mod4 { color: var(--code4) !important; }
.has-text-code5,
.mod-code .has-text-mod5 { color: var(--code5) !important; }
.has-text-graphics1,
.mod-graphics .has-text-mod1 { color: var(--graphics1) !important; }
.has-text-graphics2,
.mod-graphics .has-text-mod2 { color: var(--graphics2) !important; }
.has-text-graphics3,
.mod-graphics .has-text-mod3 { color: var(--graphics3) !important; }
.has-text-graphics4,
.mod-graphics .has-text-mod4 { color: var(--graphics4) !important; }
.has-text-graphics5,
.mod-graphics .has-text-mod5 { color: var(--graphics5) !important; }
.has-text-daybreak { color: var(--daybreak) !important; }
.has-text-evening { color: var(--evening) !important; }
.has-text-midnight { color: var(--midnight) !important; }
.has-text-twilight { color: var(--twilight) !important; }

.has-letter-spacing-1 { letter-spacing: 0.03125rem; }
.has-letter-spacing-2 { letter-spacing: 0.0125rem; }

/* ----  Background  ---- */
.has-background-code1,
.mod-code .has-background-mod1 { background-color: var(--code1); }
.has-background-code2,
.mod-code .has-background-mod2 { background-color: var(--code2); }
.has-background-code3,
.mod-code .has-background-mod3 { background-color: var(--code3); }
.has-background-code4,
.mod-code .has-background-mod4 { background-color: var(--code4); }
.has-background-code5,
.mod-code .has-background-mod5 { background-color: var(--code5); }
.has-background-codeGradient,
.mod-code .has-background-modGradient { background-color: var(--codeGradient); }
.has-background-graphics1,
.mod-graphics .has-background-mod1 { background-color: var(--graphics1); }
.has-background-graphics2,
.mod-graphics .has-background-mod2 { background-color: var(--graphics2); }
.has-background-graphics3,
.mod-graphics .has-background-mod3 { background-color: var(--graphics3); }
.has-background-graphics4,
.mod-graphics .has-background-mod4 { background-color: var(--graphics4); }
.has-background-graphics5,
.mod-graphics .has-background-mod5 { background-color: var(--graphics5); }
.has-background-graphicsGradient,
.mod-graphics .has-background-modGradient { background-color: var(--graphicsGradient); }
.has-background-daybreak { background-color: var(--daybreak); }
.has-background-evening { background-color: var(--evening); }
.has-background-midnight { background-color: var(--midnight); }
.has-background-mist { background-color: var(--mist); }
.has-background-twilight { background-color: var(--twilight); }

/* ----  Borders  ---- */
.has-underline-code1,
.mod-code .has-underline-mod1 { border-bottom: 0.25rem solid var(--code1); }
.has-underline-code2,
.mod-code .has-underline-mod2 { border-bottom: 0.25rem solid var(--code2); }
.has-underline-code3,
.mod-code .has-underline-mod3 { border-bottom: 0.25rem solid var(--code3); }
.has-underline-code4,
.mod-code .has-underline-mod4 { border-bottom: 0.25rem solid var(--code4); }
.has-underline-code5,
.mod-code .has-underline-mod5 { border-bottom: 0.25rem solid var(--code5); }
.has-underline-codeGradient,
.mod-code .has-underline-modGradient {
	position: relative;
}
.has-underline-codeGradient::after,
.mod-code .has-underline-modGradient::after {
	background-image: var(--codeGradient);
	bottom: -1rem;
	content: "";
	height: 0.25rem;
	left: 0;
	position: absolute;
	width: 100%;
}
.has-underline-graphics1,
.mod-graphics .has-underline-mod1 { border-bottom: 0.25rem solid var(--graphics1); }
.has-underline-graphics2,
.mod-graphics .has-underline-mod2 { border-bottom: 0.25rem solid var(--graphics2); }
.has-underline-graphics3,
.mod-graphics .has-underline-mod3 { border-bottom: 0.25rem solid var(--graphics3); }
.has-underline-graphics4,
.mod-graphics .has-underline-mod4 { border-bottom: 0.25rem solid var(--graphics4); }
.has-underline-graphics5,
.mod-graphics .has-underline-mod5 { border-bottom: 0.25rem solid var(--graphics5); }
.has-underline-graphicsGradient,
.mod-graphics .has-underline-modGradient { border-bottom: 0.25rem solid var(--graphicsGradient); }
.has-underline-daybreak { border-bottom: 0.25rem solid var(--daybreak); }
.has-underline-evening { border-bottom: 0.25rem solid var(--evening); }
.has-underline-midnight { border-bottom: 0.25rem solid var(--midnight); }
.has-underline-twilight { border-bottom: 0.25rem solid var(--twilight); }

/* ----  Flex  ---- */
*[class*="is-flex"] {
	/*align-content: stretch;
	align-items: stretch;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.is-flex-column {
	flex-direction: column;
}
.is-flex-column > * {
	width: 100%;
}
.is-flex-nowrap {
	flex-wrap: nowrap;
}
.is-flex-start {
	justify-content: flex-start;
}
.fits-flex-33,
.fits-flex-50,
.fits-flex-66 {
	width: 100%;
}
@media screen and (min-width: 499px) {
	.fits-flex-33 {
		width: calc((100% - .5rem) * .5);
	}
}
@media screen and (min-width: 770px) {
	.fits-flex-33 {
		width: calc((100% - 1rem) * .333);
	}
	.fits-flex-50 {
		width: calc((100% - .5rem) * .5);
	}
	.fits-flex-66 {
		width: calc((100% - 1rem) * .666);
	}
}

.flex-alignitems-end {
	align-content: flex-end;
	align-items: flex-end;
}

.flex-grow-1 {
	flex-grow: 1;
}

/* ----  Layout  ---- */
section,
footer	{
	margin: 0;
	padding: 4rem 5%;
}
section > div,
footer > div {
	margin: 0 auto;
	max-width: 59.375rem;
	padding: 0;
}

.has-padding-1 { padding: 2.25rem; }
.has-padding-2 { padding: 2rem; }
.has-padding-3 { padding: 1.75rem; }
.has-padding-4 { padding: 1.5rem; }
.has-padding-5 { padding: 1.25rem; }
.has-padding-6 { padding: 1rem; }
.has-padding-7 { padding: .75rem; }
.has-padding-8 { padding: .25rem; }
.has-padding-none { padding: 0; }

.has-padding-bottom { padding-left:0;padding-right:0;padding-top:0; }
.has-padding-left { padding-bottom:0;padding-right:0;padding-top:0; }
.has-padding-right { padding-bottom:0;padding-left:0;padding-top:0; }
.has-padding-top { padding-bottom:0;padding-left:0;padding-right:0; }

.has-margin-1 { margin: 2.25rem 0; }
.has-margin-2 { margin: 2rem 0; }
.has-margin-3 { margin: 1.75rem 0; }
.has-margin-4 { margin: 1.5rem 0; }
.has-margin-5 { margin: 1.25rem 0; }
.has-margin-6 { margin: 1rem 0; }
.has-margin-7 { margin: .75rem 0; }
.has-margin-8 { margin: .25rem 0; }
.has-margin-none { margin: 0; }

.has-margin-bottom { margin-left:0;margin-right:0;margin-top:0; }
.has-margin-left { margin-bottom:0;margin-right:0;margin-top:0; }
.has-margin-right { margin-bottom:0;margin-left:0;margin-top:0; }
.has-margin-top { margin-bottom:0;margin-left:0;margin-right:0; }

.is-block { display: block; }
.is-inline-block { display: inline-block; }

.has-position-relative { position: relative; }
.has-position-absolute { position: absolute; }
.has-position-fixed { position: fixed; }

/* ----  Styling  ---- */
.home .hero {
	background-blend-mode: overlay, normal;
	background-image: url(../img/header_code.svg), linear-gradient(var(--evening), var(--evening));
	background-position: 16% 2.5vw, center center;
	background-repeat: repeat-y, no-repeat;
	background-size: 84% auto, cover;
}

.home .hero .logo {
	width: 6.5rem;
}
footer .logo {
	width:5.5rem;
}

.tags-mod3 {
	border-radius: 0.125rem;
	display: inline-block;
	font-size: .75rem;
	margin: 0 .25rem .25rem 0;
	padding: 0 .25rem;
}
.mod-code .tags-mod3 {
	background-color: rgba(189,209,64,.5);
	border: 0.0625rem solid var(--code3);
}
.mod-graphics .tags-mod3 {
	background-color: rgba(216,104,43, .5);
	border: 0.125rem solid var(--graphics3);
}

progress {
  /* style rules */
  background-color: rgba(41, 41, 58, .2);
  border-radius: 8px;
  height: 16px;
  padding: 4px;
  width: 100%;
}
progress::-webkit-progress-bar {
  /* style rules */
  background-color: rgba(41, 41, 58, .3);
  border: 1.5px solid #29293a;
  border-radius: 4px;
  width: 100%;
}
.mod-code .cat1 progress::-webkit-progress-value {
  /* style rules */
  background-color: var(--code3);
  border-radius: 4px;
  height: calc(100% - 1px);
}
.mod-code .cat2 progress::-webkit-progress-value {
  /* style rules */
  background-color: var(--code5);
  border-radius: 4px;
  height: calc(100% - 1px);
}
progress::-moz-progress-bar {
  /* style rules */
  background-color: rgba(41, 41, 58, .3);
  border: 1.5px solid #29293a;
  border-radius: 4px;
  width: 100%;
}

@media screen and (min-width: 770px) {
	.portrait {
		background-image: url(../img/background_portrait.jpg), linear-gradient(#3a3a54, #3a3a54);
		background-position: right top 50%, center center;
		background-repeat: no-repeat;
		background-size: 33% auto, cover;
	}
}

/*.portrait {
	position: relative;
}
.portrait::after {
	background-image: url(../img/background_portrait.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 33vw;
}*/

.hr-header {
	position: relative;
}
.hr-header::before {
	background-color: #515176;
	content: "";
	height: 0.0625rem;
	left: 0;
	position: absolute;
	top: calc(50% - 0.0625rem);
	width: 100%;
}
.hr-header span {
	position: relative;
	z-index: 2;
}

nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	margin: 0 .5rem;
}
footer nav ul li {
	font-size: 1.5rem;
}

.icon {
	display: inline-block;
	margin: 0;
	white-space: nowrap;
	width: 1.875rem;
}

#primary-social {
	font-family: font-awesome-brands;
}
#primary-social li:last-of-type {
	font-family: font-awesome;
}

/* ----  Previews  ---- */
#accioBox {
	background-color: rgba(0,0,0,.8);
	height: 100vh;
	left: 0;
	opacity: 0;
	overflow: hidden;
	top: 0;
	transition-duration: .5s;
	width: 100vw;
	z-index: -1;
}
.castingAccio #accioBox {
	opacity: 1;
	z-index: 100;
}

#accioImg {
	webkit-box-shadow: 0 0 0.3125rem 0 rgba(234,234,234,.5);
	-moz-box-shadow: 0 0 0.3125rem 0 rgba(234,234,234,.5);
	box-shadow: 0 0 0.3125rem 0 rgba(234,234,234,.5);
	max-height: calc(80vh - 2.5rem);
	left: 5vw;
	overflow-x: hidden;
	overflow-y: scroll;
	top: 5vh;
	width: 90vw;
}
#accioImg > img {
	object-fit: cover;
}

#accioHalt {
	align-items: center;
	/*border: 0.015625rem solid var(--daybreak);*/
	border-radius: 50%;
	bottom: 10vh;
	cursor: pointer;
	height: 2.5rem;
	justify-content: center;
	left: calc(50vw - 1.25rem);
	width: 2.5rem;
	z-index: 5;
}