* { box-sizing: border-box; }

:root {
	/* Code Scheme */
	--code1: #6eeb83;
	--code2: #9adf5e;
	--code3: #bdd140;
	--code4: #dcc12d;
	--code5: #f6ae2d;
	--codeGradient: linear-gradient(to right, var(--code1), var(--code2), var(--code3), var(--code4), var(--code5));
	/* Graphics Scheme */
	--graphics1: #9b143d;
	--graphics2: #be3d36;
	--graphics3: #d8682b;
	--graphics4: #e6951d;
	--graphics5: #e7c41f;
	--graphicsGradient: linear-gradient(to right, var(--graphics1), var(--graphics2), var(--graphics3), var(--graphics4), var(--graphics5));
	/* Main */
	--midnight: #29293a;
	--mist: #ececef;
	--evening: #3a3a54;
	--twilight: #54547a;
	--daybreak: #f6f6f8;
	/* Scaling */
	font-size: 100%;
}

html {
	background-color: var(--midnight);
}
html,
body {
	/*color: #000;*/
	font-family: fira-code, monospace;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
body {
	background-color: transparent;
}

#mighty .leftArc,
#mighty .rightArc { fill: #FFF; }
#mighty .bridge { fill: rgba(255,255,255,.2); }

.mod-code #mighty .leftArc { fill: var(--code1); }
.mod-code #mighty .rightArc { fill: var(--code5); }
.mod-code #mighty .bridge { fill: var(--code3); }
.mod-graphics #mighty .leftArc { fill: var(--graphics1); }
.mod-graphics #mighty .rightArc { fill: var(--graphics5); }
.mod-graphics #mighty .bridge { fill: var(--graphics3); }


/* ----  Type  ---- */
@font-face {
	font-family: fira-code;
	font-weight: 300;
	src: url(../fonts/FiraCode-Light.otf);
}
@font-face {
	font-family: fira-code;
	font-weight: 400;
	src: url(../fonts/FiraCode-Regular.otf);
}
@font-face {
	font-family: fira-code;
	font-weight: 500;
	src: url(../fonts/FiraCode-Medium.otf);
}
@font-face {
	font-family: fira-code;
	font-weight: 700;
	src: url(../fonts/FiraCode-Bold.otf);
}

.has-text-fira-code {
	font-family: fira-code, monospace;
	font-style: normal;
	font-weight: 400;
}

.has-text-weight-light { font-weight: 300; }
.has-text-weight-regular { font-weight: 400; }
.has-text-weight-medium { font-weight: 500; }
.has-text-weight-bold { font-weight: 700; }

.is-size-1 {
	font-size: 2.5rem;
	line-height: 1.25;
	margin: 0 0 2.5rem 0;
}
.is-size-2 {
	font-size: 2.25rem;
	line-height: 1.25;
	margin: 0 0 2.25rem 0;
}
.is-size-3 {
	font-size: 2rem;
	line-height: 1.25;
	margin: 0 0 2rem 0;
}
.is-size-4 {
	font-size: 1.75rem;
	line-height: 1.25;
	margin: 0 0 1.75rem 0;
}
.is-size-5 {
	font-size: 1.25rem;
	line-height: 1.25;
	margin: 0 0 1.25rem 0;
}
.is-size-6 {
	font-size: 1rem;
	line-height: 1.25;
	margin: 0 0 1rem 0;
}
.is-size-7 {
	font-size: .85rem;
	line-height: 1.25;
	margin: 0 0 .85rem 0;
}
.is-size-8 {
	font-size: .65rem;
	line-height: 1.25;
	margin: 0 0 .65rem 0;
}

.is-uppercase { text-transform: uppercase; }

.has-text-left { text-align: left; }
.has-text-centered { text-align: center; }
.has-text-right { text-align: right; }

.has-text-white { color: #FFF; }
.has-text-black { color: #000; }
.has-text-code1,
.mod-code .has-text-mod1 { color: var(--code1); }
.has-text-code2,
.mod-code .has-text-mod2 { color: var(--code2); }
.has-text-code3,
.mod-code .has-text-mod3 { color: var(--code3); }
.has-text-code4,
.mod-code .has-text-mod4 { color: var(--code4); }
.has-text-code5,
.mod-code .has-text-mod5 { color: var(--code5); }
.has-text-graphics1,
.mod-graphics .has-text-mod1 { color: var(--graphics1); }
.has-text-graphics2,
.mod-graphics .has-text-mod2 { color: var(--graphics2); }
.has-text-graphics3,
.mod-graphics .has-text-mod3 { color: var(--graphics3); }
.has-text-graphics4,
.mod-graphics .has-text-mod4 { color: var(--graphics4); }
.has-text-graphics5,
.mod-graphics .has-text-mod5 { color: var(--graphics5); }
.has-text-daybreak { color: var(--daybreak); }
.has-text-evening { color: var(--evening); }
.has-text-midnight { color: var(--midnight); }
.has-text-twilight { color: var(--twilight); }

.has-letter-spacing-1 { letter-spacing: 0.03125rem; }
.has-letter-spacing-2 { letter-spacing: 0.0125rem; }

/* ----  Background  ---- */
.has-background-code1,
.mod-code .has-background-mod1 { background-color: var(--code1); }
.has-background-code2,
.mod-code .has-background-mod2 { background-color: var(--code2); }
.has-background-code3,
.mod-code .has-background-mod3 { background-color: var(--code3); }
.has-background-code4,
.mod-code .has-background-mod4 { background-color: var(--code4); }
.has-background-code5,
.mod-code .has-background-mod5 { background-color: var(--code5); }
.has-background-codeGradient,
.mod-code .has-background-modGradient { background-color: var(--codeGradient); }
.has-background-graphics1,
.mod-graphics .has-background-mod1 { background-color: var(--graphics1); }
.has-background-graphics2,
.mod-graphics .has-background-mod2 { background-color: var(--graphics2); }
.has-background-graphics3,
.mod-graphics .has-background-mod3 { background-color: var(--graphics3); }
.has-background-graphics4,
.mod-graphics .has-background-mod4 { background-color: var(--graphics4); }
.has-background-graphics5,
.mod-graphics .has-background-mod5 { background-color: var(--graphics5); }
.has-background-graphicsGradient,
.mod-graphics .has-background-modGradient { background-color: var(--graphicsGradient); }
.has-background-daybreak { background-color: var(--daybreak); }
.has-background-evening { background-color: var(--evening); }
.has-background-midnight { background-color: var(--midnight); }
.has-background-mist { background-color: var(--mist); }
.has-background-twilight { background-color: var(--twilight); }

/* ----  Borders  ---- */
.has-underline-code1,
.mod-code .has-underline-mod1 { border-bottom: 0.25rem solid var(--code1); }
.has-underline-code2,
.mod-code .has-underline-mod2 { border-bottom: 0.25rem solid var(--code2); }
.has-underline-code3,
.mod-code .has-underline-mod3 { border-bottom: 0.25rem solid var(--code3); }
.has-underline-code4,
.mod-code .has-underline-mod4 { border-bottom: 0.25rem solid var(--code4); }
.has-underline-code5,
.mod-code .has-underline-mod5 { border-bottom: 0.25rem solid var(--code5); }
.has-underline-codeGradient,
.mod-code .has-underline-modGradient { border-bottom: 0.25rem solid var(--codeGradient); }
.has-underline-graphics1,
.mod-graphics .has-underline-mod1 { border-bottom: 0.25rem solid var(--graphics1); }
.has-underline-graphics2,
.mod-graphics .has-underline-mod2 { border-bottom: 0.25rem solid var(--graphics2); }
.has-underline-graphics3,
.mod-graphics .has-underline-mod3 { border-bottom: 0.25rem solid var(--graphics3); }
.has-underline-graphics4,
.mod-graphics .has-underline-mod4 { border-bottom: 0.25rem solid var(--graphics4); }
.has-underline-graphics5,
.mod-graphics .has-underline-mod5 { border-bottom: 0.25rem solid var(--graphics5); }
.has-underline-graphicsGradient,
.mod-graphics .has-underline-modGradient { border-bottom: 0.25rem solid var(--graphicsGradient); }
.has-underline-daybreak { border-bottom: 0.25rem solid var(--daybreak); }
.has-underline-evening { border-bottom: 0.25rem solid var(--evening); }
.has-underline-midnight { border-bottom: 0.25rem solid var(--midnight); }
.has-underline-twilight { border-bottom: 0.25rem solid var(--twilight); }

/* ----  Flex  ---- */
.is-flex {
	/*align-content: flex-start;*/
	/*align-items: stretch;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.is-flex-nowrap {
	flex-wrap: nowrap;
}
.is-flex-50 {
	width: calc((100% - .5rem) * .5);
}
.is-flex-33 {
	width: calc((100% - 1rem) * .333);
}

/* ----  Layout  ---- */
section	{
	margin: 0;
	padding: 4rem 5%;
}
section > div {
	margin: 0 auto;
	max-width: 59.375rem;
	padding: 0;
}

.has-padding-1 { padding: 2.25rem; }
.has-padding-2 { padding: 2rem; }
.has-padding-3 { padding: 1.75rem; }
.has-padding-4 { padding: 1.5rem; }
.has-padding-5 { padding: 1.25rem; }
.has-padding-6 { padding: 1rem; }
.has-padding-7 { padding: .75rem; }
.has-padding-8 { padding: .5rem; }

.has-margin-1 { margin: 2.25rem 0; }
.has-margin-2 { margin: 2rem 0; }
.has-margin-3 { margin: 1.75rem 0; }
.has-margin-4 { margin: 1.5rem 0; }
.has-margin-5 { margin: 1.25rem 0; }
.has-margin-6 { margin: 1rem 0; }
.has-margin-7 { margin: .75rem 0; }
.has-margin-none { margin: 0; }

.is-block { display: block; }

.has-position-relative { position: relative; }
.has-position-absolute { position: absolute; }
.has-position-fixed { position: fixed; }

/* ----  Styling  ---- */
.tags-mod3 {
	border-radius: 0.125rem;
	display: inline-block;
	font-size: .85rem;
	margin: 1rem 0 .75rem;
	padding: 0 .25rem;
}
.mod-code .tags-mod3 {
	background-color: rgba(189,209,64,.5);
	border: 0.0625rem solid var(--code3);
}
.mod-graphics .tags-mod3 {
	background-color: rgba(216,104,43, .5);
	border: 0.125rem solid var(--graphics3);
}

progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	height: 0.5rem;
	width: 100%;
}
progress[value] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.mod-code .cat1 progress[value]
.mod-code .cat1 progress[value]::-webkit-progress-value {
	background-color: var(--code3);
}
.mod-graphics .cat1 progress[value] {
	background-color: var(--graphics3);
}